<h1>Establishments#edit</h1>
<p>Find me in app/views/establishments/edit.html.erb</p>

<%= simple_form_for @etablissement do |f| %>
  <%= f.marksmith :body,placeholder: "Write your best markdown here." %>
  <%= f.button :submit %>
<% end %>